<!DOCTYPE html>
<html>
<head>
	<title>Sucesso</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
</head>
<body>
	<header>
		<div>
			<img src="{% static 'img/cnpj.png'%}">
		</div>
		<div>
			<h1> Esses são os dados do CNPJ consultado </h1>
		</div>
	</header>
	<form action="/" method="get">
		<input class="botao" type="submit" value="Nova consulta">
	</form>
	<table>
		<tr>
			<th>Cadastro Nacional da Pessoa Jurídica</th>
		</tr>
		<tr>
			<td> Nome Empresarial: </td> 
			<td> {{resultado.nome}} </td>
		</tr>
		<tr>
			<td> Nome Fantasia: </td>
			<td> {{resultado.fantasia}} </td>
		</tr>
		<tr>
			<td> Número da inscrição: </td>
			<td> {{resultado.cnpj}} </td>
		</tr>
		<tr>
			<td> Data de abertura: </td>
			<td> {{resultado.abertura}} </td>
		</tr>
		<tr>
			<td> Porte: </td>
			<td> {{resultado.porte}} </td>
		</tr>
		<tr>
			<td> Código e descrição da atividade econômica principal: </td>
			{% for item in resultado.atividade_principal %}
				<td> {{item.text}} {{item.code}} </td>
			{%endfor%}
		</tr>
		<tr>
			<th> Código e descrição das atividades econômicas secundárias: </th>
			{% for item in resultado.atividades_secundarias %}
				<tr> 
					<td>{{item.code}}</td>
					<td> {{item.text}} </td>
				</tr>
			{%endfor%}
		</tr>
		<tr>
			<td> Capital Social </td>
			<td> {{resultado.capital_social}} </td>
		</tr>
		<tr>
			<th> Quadro Societário: </th>
			{% for item in resultado.qsa %}
				<tr> 
					<td>{{item.qual}}</td>
					<td> {{item.nome}} </td>
				</tr>
			{%endfor%}
		</tr>
		<tr>
			<td> Código e descrição da natureza jurídica </td>
			<td> {{resultado.natureza_juridica}} </td>
		</tr>
		<tr>
			<td> Cidade </td>
			<td> {{resultado.municipio}} </td>
		</tr>
		<tr>
			<td> Bairro </td>
			<td> {{resultado.bairro}} </td>
		</tr>
		<tr>
			<td> Logradouro </td>
			<td> {{resultado.logradouro}} </td>
		</tr>
		<tr>
			<td> Número </td>
			<td> {{resultado.numero}} </td>
		</tr>
		<tr>
			<td> CEP </td>
			<td> {{resultado.cep}} </td>
		</tr>
	</table>
</body>
</html>