<!DOCTYPE html>
<html>
<head>
	<title>Busca CNPJ</title>
	{% load static %}
	<link rel="icon" href="{% static 'img/cnpj.png'%}" type="image/gif" sizes="16x16">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
</head>
<body>
	<header>
		<div>
			<img src="{% static 'img/cnpj.png'%}">
		</div>
		<div>
			<h1 class="index"> Consulte o seu CNPJ </h1>
		</div>
	</header>
	<form action="/dados-recebidos" method="get">
		<!--Necessário para o métod POST-->
		<!--{% csrf_token %}-->
		<input class="cnpj" type="text" name="cnpj" placeholder="14 Dígitos sem . / ou - ">
		<input class="botao" type="submit" value="Buscar">
	</form>
	<p style="color:white;text-align:center;background-color:#87CEFA"> {{resultado.nome}} </p>

	<h1 class="texto">O que é um cnpj</h1>

	<article>
		<p>		
			CNPJ é a sigla para Cadastro Nacional da Pessoa Jurídica. É a forma como a Receita Federal identifica empresas e organizações e acompanha suas movimentações financeiras.
		</p>
		<p>
			É fácil entender o que é CNPJ se pensarmos no CPF, o Cadastro de Pessoa Física. Todo cidadão brasileiro precisa ter um. É com ele que abrimos uma conta, pedimos um cartão de crédito, fazemos cadastro em uma loja virtual, declaramos o imposto de renda, entre diversas outras coisas.
		</p>
		<p>
			Também é com o CPF que a Receita Federal consegue saber que existimos, identificar nossas transações e encontrar possíveis irregularidades.
		</p>
		<p>
			De forma simples, o CNPJ é o CPF das empresas. Com esse cadastro, a Receita acompanha as transações financeiras das pessoas jurídicas e verifica se elas estão pagando os tributos da forma correta.
		</p>
		<p>
			Fonte: <a class="nubank" href="https://blog.nubank.com.br/cnpj-o-que-e-cadastro-nacional-da-pessoa-juridica/?1">Nubank</a>
		</p>
		<p>
			A API consumida por esse projeto é disponibilizada por: <a class="receitaws" href="https://receitaws.com.br/">ReceitaWS</a>
		</p>
	</article>

	<footer>
		<p>Desenvolvido por Pedro Henrique Vicente de Sousa</p>
		<a href="mailto:henriquevic012@gmail.com">E-mail</a>
		<a href="https://github.com/vic012/">GitHub</a>
	</footer>
</body>
</html>